body {
    background-color: #b2e2ed;
}

form {
    text-align: center;
    background-color: white;
    width: 40%;
    height: 30%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left : 30%;  
    display:inline-block;
    border-radius:10px;
}